:root {
  --sl-color-accent: #ff6a00;
  --sl-color-accent-high: #ff6a00;
  --sl-color-accent-low: #000000;
}

:root {
  --sl-content-width: 80rem;
}

.sl-markdown-content table {
  width: 100%;
  display: table;
}

.sl-markdown-content .table-wrapper {
  overflow-x: visible;
}